/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente local */
@font-face {
  font-family: "Raleway";
  src: url("../asset/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
/* General */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-image: url("../asset/background/morocco.png");
  background-repeat: repeat;
}

main {
  width: 95%;
  padding: 10px;
  margin: 60px auto 30px;
  background-color: #DEF0F4;
  display: grid;
  grid-template-areas: "a1 a1" "b1 p1" "b2 p2" "c1 c1";
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto auto auto auto;
  gap: 30px;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* HEADER */
nav {
  background-color: #DEF0F4;
  font-weight: bold;
  display: flex;
  align-items: center;
}
nav div a h1 {
  margin: 0px;
}

.dropdown-menu {
  background-color: #DEF0F4;
}

.offcanvas.show .dropdown-menu {
  background-color: inherit;
}
.offcanvas.show .nav-link:hover {
  transform: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
}
.nav-link:hover {
  background-color: aliceblue;
  color: #2C5269;
  transform: scale(1.15);
  transition: 0.5s;
}
.nav-link:active {
  background-color: #3b3b4f;
  color: #DEF0F4;
  padding: 2px;
}

.a1 {
  grid-area: a1;
}

.portada {
  background-image: url(../asset/img/animate.jpg);
  background-size: cover;
  background-position: left;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
}
.portada__animate {
  width: 35%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: rgba(239, 236, 236, 0.5);
  text-align: center;
}
.portada__animate__sub input {
  width: 80%;
  background-color: rgba(132, 132, 132, 0.475);
  color: white;
  font-weight: bold;
  margin: 0 auto;
  height: 20px;
  border-style: none;
  border: 1px solid #3b3b4f;
  border-radius: 2px;
}
.portada__animate__sub button {
  width: 50%;
  height: 25px;
}
.portada__animate__redes ul {
  display: flex;
  justify-content: space-evenly;
}
.portada__animate__redes ul li {
  list-style: none;
}
.portada__animate__redes img {
  width: 20px;
  text-align: justify;
  margin: 5px 20px;
}

.subscribite {
  background-image: url(../asset/img/ViajecitoTres.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribite__div {
  width: 70%;
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  background-color: rgba(239, 236, 236, 0.5019607843);
  text-align: center;
}
.subscribite__div input {
  width: 80%;
  height: 20px;
  margin: 0 auto;
  background-color: rgba(132, 132, 132, 0.5450980392);
  color: white;
  font-weight: bold;
  border-style: none;
  border: 1px solid #3b3b4f;
  border-radius: 2px;
}
.subscribite__div button {
  width: 50%;
  height: 25px;
}

.b1 {
  grid-area: b1;
}

.b1__article {
  display: flex;
}
.b1__article div {
  width: 60%;
}
.b1__article img {
  width: 40%;
  object-fit: cover;
}

.b2 {
  grid-area: b2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
  flex-wrap: wrap;
}
.conteiner__card {
  width: 40%;
  min-width: 180px;
  text-align: center;
  margin: 15px;
  background-color: #dcf7fc;
  padding: 10px;
  border-radius: 10px;
  border: #3EABC0 1px solid;
  box-shadow: #3EABC0 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteiner__texto {
  /* display: inline-block; */
  width: 100%;
}
.conteiner img {
  width: 100%;
  object-fit: cover;
}

.c1 {
  grid-area: c1;
}
.c1__contenedor {
  display: flex;
  overflow-x: auto;
  margin: 15px 5px;
}
.c1__contenedor__card {
  width: 25%;
  min-width: 175px;
  margin: 1%;
  background-color: #98d9d9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(62, 170, 192, 0.2274509804) 0px 0px 5px;
}
.c1__contenedor__card img {
  width: 100%;
  object-fit: cover;
}
.c1__contenedor__card h4 {
  min-height: 85px;
}
.c1__contenedor__card p {
  text-align: justify;
}

.p1 {
  grid-area: p1;
}

.p2 {
  grid-area: p2;
}

.p1, .p2 {
  background-color: brown;
  color: aliceblue;
  width: 200px;
  height: 100%;
}

.p2-span {
  grid-column: 1/span 2;
  width: 100%;
  height: 200px;
}

.footer {
  height: auto;
  background-color: #DEF0F4;
  margin: 50px 0;
  padding: 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.footer__brand {
  display: flex;
  align-items: flex-start;
  width: 35%;
  min-width: 270px;
}
.footer__brand__text {
  margin-left: 15px;
}
.footer__brand__icon {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
.footer__social, .footer__contacto {
  width: 15%;
  min-width: 120px;
}
.footer__social ul, .footer__contacto ul {
  padding: 0;
}
.footer__subscribe {
  width: 35%;
  min-width: 270px;
}
.footer__subscribe form span {
  font-size: smaller;
}
.footer__subscribe form p {
  margin: 0;
}

.terminosYcondiciones {
  display: inline-block;
}

footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #3b3b4f;
}
footer a:active {
  background-color: #3b3b4f;
  color: #DEF0F4;
  padding: 2px;
}
footer .excluir:hover {
  text-decoration: underline;
  font-weight: normal;
  color: #3b3b4f;
}
footer .excluir:active {
  background-color: #3b3b4f;
  color: #DEF0F4;
  padding: 2px;
}
footer li:active {
  margin: 4px 0;
  align-items: left;
}

.headerIcon, .brand__icon {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.button--submit {
  border-radius: 2px;
  background-color: #3b3b4f;
  color: white;
  margin: 15px;
}
.button--submit:hover {
  background-color: #4f4f53;
}

.caratula {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}
.caratula h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(239, 236, 236, 0.7019607843);
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.caratula img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

a {
  margin: 0px;
  padding: 0px;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float--left {
  float: left;
  margin: 0 20px 20px 0;
}

.float--right {
  float: right;
  margin: 0 0 20px 20px;
}

/* Viajecito */
.viajecito__card {
  background-color: #72b1c2;
  box-shadow: rgba(121, 137, 140, 0.7333333333) 0 0 1px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.viajecito__card__img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.viajecito__card__texto {
  margin-left: 30px;
}
.viajecito__card__texto h2 {
  font-weight: normal;
  background-color: #87c2d2;
}
.viajecito__card__texto p {
  margin: 0;
}

.viajecito-article {
  margin-top: 70px;
}

.carousel-item {
  width: 100%;
  height: 300px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* La Idea */
.laidea {
  margin: 15px;
}
.laidea p {
  text-align: justify;
}
.laidea img {
  width: 250px;
  object-fit: cover;
}

/* Recursos */
.recursosConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.recursosConteiner__card {
  border: solid 2px rgba(62, 170, 192, 0.5490196078);
  border-radius: 8px;
  box-shadow: #3EABC0 0 0 10px;
  width: 100%;
  max-width: 800px;
  margin: 15px 0;
  background-color: #d1edf3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recursosConteiner__card:hover {
  z-index: 10;
  transform: scale(1.1);
  box-shadow: #3799ac 0 0 25px;
  transition: 0.3s;
}
.recursosConteiner__card h2 {
  background-color: rgba(180, 213, 221, 0.8352941176);
  padding: 4px;
  border-radius: 4px;
  margin: 0;
}
.recursosConteiner__card p {
  background-color: rgba(214, 236, 240, 0.9098039216);
  padding: 4px;
  border-radius: 4px;
  margin: 0;
}
.recursosConteiner a {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.recursosMain {
  width: 95%;
  margin: 20px;
}
.recursosMain__article {
  background-color: rgba(214, 236, 240, 0.9098039216);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(214, 236, 240, 0.9098039216) 0 0 20px;
}
.recursosMain ol li {
  list-style-type: upper-alpha;
  margin: 12px 0;
  font-weight: 500;
}
.recursosMain ol ol li {
  list-style-type: disc;
  margin: 5px 0;
}
.recursosMain h2 {
  margin: 16px 0;
  font-weight: bold;
}
.recursosMain h3 {
  font-weight: normal;
  font-size: larger;
  font-weight: 500;
  margin-top: 16px;
}
.recursosMain p {
  margin: 10px 0;
  font-weight: 500;
}
.recursosMain a {
  font-weight: 600;
}
.recursosMain a:hover {
  text-decoration-line: underline;
}
.recursosMain img {
  height: 250px;
  width: auto;
  object-fit: cover;
}

/* Contacto */
.contacto-img {
  max-height: 250px;
  width: 45%;
  object-fit: cover;
  margin: 15px 15px;
}

/* Formulario */
.form {
  width: 70%;
  margin: 40px 0;
  background-color: rgb(185, 241, 254);
  padding: 15px;
  border-radius: 5px;
}

textarea,
input,
label,
select {
  display: block;
  font-family: "Raleway", sans-serif;
}

label {
  margin: 10px 5px;
}

.map-div {
  margin-top: 50px;
}

iframe {
  width: 400px;
  height: 300px;
}

.elemento-oculto {
  display: none;
}

@media screen and (max-width: 750px) {
  main {
    width: 95%;
    padding: 10px;
    margin: 60px auto 30px;
    background-color: #DEF0F4;
    display: grid;
    grid-template-areas: "a1" "p1" "b1" "b2" "p2" "c1";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    overflow: hidden;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .p1, .p2 {
    background-color: brown;
    color: aliceblue;
    width: 100%;
    height: 150px;
  }
  .a1 {
    grid-area: a1;
  }
  .portada__animate {
    width: 50%;
  }
  .b1 {
    grid-area: b1;
  }
  .b1__article {
    display: flex;
  }
  .b1__article div {
    width: 60%;
  }
  .b1__article img {
    width: 40%;
    object-fit: cover;
  }
  .b2 {
    grid-area: b2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .conteiner__card {
    width: 100%;
  }
  .c1 {
    overflow: hidden;
    width: 100%;
  }
  .footer {
    height: auto;
  }
}
@media screen and (max-width: 440px) {
  main {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "a1" "b1" "p1" "b2" "p2" "c1";
    gap: 0;
    row-gap: 30px;
  }
  .p1, .p2 {
    background-color: brown;
    color: aliceblue;
    width: 100%;
    height: 200px;
  }
  .p2-span {
    grid-row: 7/span 1;
    width: 100%;
    height: 200px;
  }
  .elemento-oculto {
    display: flex;
  }
  .elemento-visible {
    display: none;
  }
  .accordion-bg {
    color: #2C5269;
    --bs-accordion-bg: #98d9d9;
  }
  header {
    padding: 5px;
  }
  main {
    margin: 60px 0 30px;
    width: 100%;
  }
  .nav-link:hover {
    background-color: aliceblue;
    color: #2C5269;
    transform: none;
    transition: 0.5s;
  }
  .nav-link:active {
    background-color: #3b3b4f;
    color: #DEF0F4;
    padding: 5px;
  }
  .headerIcon {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .portada {
    background-image: url(../asset/img/animate.jpg);
    background-size: cover;
    background-position: left;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .portada__animate {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    background-color: rgba(239, 236, 236, 0.5);
    text-align: center;
  }
  .portada__animate__sub input {
    width: 80%;
    background-color: rgba(132, 132, 132, 0.475);
    color: white;
    font-weight: bold;
    margin: 0 auto;
    height: 20px;
    border-style: none;
    border: 1px solid #3b3b4f;
    border-radius: 2px;
  }
  .portada__animate__sub button {
    width: 50%;
    height: 25px;
    border-radius: 2px;
    background-color: #3b3b4f;
    color: white;
    margin: 15px;
  }
  .portada__animate__redes ul {
    display: flex;
    justify-content: space-evenly;
  }
  .c1-subscribite {
    display: none;
  }
  footer {
    height: auto;
    background-color: #DEF0F4;
    margin: 50px 0;
    padding: 15px 30px 15px;
    display: flex;
    flex-flow: row wrap;
    font-size: small;
    text-align: center;
  }
  .footer__brand {
    display: flex;
    order: 4;
  }
  .div-size-30 {
    width: 100%;
    min-width: 125px;
    margin: 20px 0;
  }
  .div-size-20 {
    width: 49%;
    min-width: 100px;
    order: 2;
    margin: 20px 0;
  }
  .footer__subscribe form {
    text-align: start;
    margin-top: 15px;
  }
  .footer__subscribe input {
    width: 50%;
  }
  .footer__subscribe form p {
    margin: 0;
  }
  footer a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #3b3b4f;
  }
  footer a:active {
    background-color: #3b3b4f;
    color: #DEF0F4;
    padding: 2px;
  }
  footer li:active {
    margin: 4px 0;
    align-items: left;
  }
  .float--left, .float--right {
    float: none;
    margin: 0;
  }
  .laidea img {
    width: 100%;
  }
  .carousel-item {
    width: 100%;
    height: 200px;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=styles.css.map */
