
// /* CSS HEX */
// --zaffre: #001EADff;
// --tang-blue: #0258DDff;
// --celtic-blue: #4274C7ff;
// --school-bus-yellow: #FCDC26ff;
// --vanilla: #F3E6A0ff;
// --seasalt: #F7F7F5ff;
// --white: #FFFFFFff;

// /* CSS HSL */
// --zaffre: hsla(230, 100%, 34%, 1);
// --tang-blue: hsla(216, 98%, 44%, 1);
// --celtic-blue: hsla(217, 54%, 52%, 1);
// --school-bus-yellow: hsla(51, 97%, 57%, 1);
// --vanilla: hsla(51, 78%, 79%, 1);
// --seasalt: hsla(60, 11%, 96%, 1);
// --white: hsla(0, 0%, 100%, 1);

// /* SCSS HEX */
// $zaffre: #001EADff;
// $tang-blue: #0258DDff;
// $celtic-blue: #4274C7ff;
// $school-bus-yellow: #FCDC26ff;
// $vanilla: #F3E6A0ff;
// $seasalt: #F7F7F5ff;
// $white: #FFFFFFff;

// /* SCSS HSL */
// $zaffre: hsla(230, 100%, 34%, 1);
// $tang-blue: hsla(216, 98%, 44%, 1);
// $celtic-blue: hsla(217, 54%, 52%, 1);
// $school-bus-yellow: hsla(51, 97%, 57%, 1);
// $vanilla: hsla(51, 78%, 79%, 1);
// $seasalt: hsla(60, 11%, 96%, 1);
// $white: hsla(0, 0%, 100%, 1);

// /* SCSS RGB */
// $zaffre: rgba(0, 30, 173, 1);
// $tang-blue: rgba(2, 88, 221, 1);
// $celtic-blue: rgba(66, 116, 199, 1);
// $school-bus-yellow: rgba(252, 220, 38, 1);
// $vanilla: rgba(243, 230, 160, 1);
// $seasalt: rgba(247, 247, 245, 1);
// $white: rgba(255, 255, 255, 1);

// /* SCSS Gradient */
// $gradient-top: linear-gradient(0deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-right: linear-gradient(90deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-bottom: linear-gradient(180deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-left: linear-gradient(270deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-top-right: linear-gradient(45deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-bottom-right: linear-gradient(135deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-top-left: linear-gradient(225deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-bottom-left: linear-gradient(315deg, #001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);
// $gradient-radial: radial-gradient(#001EADff, #0258DDff, #4274C7ff, #FCDC26ff, #F3E6A0ff, #F7F7F5ff, #FFFFFFff);


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fuente local */
  @font-face {
    font-family: "Raleway";
    src: url("../asset/fonts/Raleway/Raleway-VariableFont_wght.ttf");
  }

  
$primario: #DEF0F4;
$bg-primario: #DEF0F4; 
$hover-bg: aliceblue;
$secundario: aliceblue;


/* General */
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-image: url("../asset/background/morocco.png");
  background-repeat: repeat;
}

main {
  width: 95%;
  padding: 10px;
  margin: 60px auto 30px;
  background-color: $bg-primario;
  display: grid;
  grid-template-areas: 
  "a1 a1"
  "b1 p1"
  "b2 p2"
  "c1 c1"
  ;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto auto auto auto;
  gap: 30px;
  overflow: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* HEADER */

nav {
  background-color: $bg-primario;
  font-weight: bold;
  display: flex;
  align-items: center;
  div a h1 {
    margin: 0px;
  }
}

.dropdown-menu {
  background-color: $bg-primario;
}

.offcanvas.show {
  .dropdown-menu {
  background-color: inherit;
  }
  .nav-link:hover {
  transform: none;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}


.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
  &:hover {
    background-color: $hover-bg;
    color: #2C5269;
    transform: scale(1.15);
    transition: 0.5s;
  }
  &:active {
    background-color: #3b3b4f;
    color: $primario;
    padding: 2px;
  }
}

// INDEX

.a1 {
  grid-area: a1;
}

.portada {
  background-image: url(../asset/img/animate.jpg);
  background-size: cover;
  background-position: left;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  
  &__animate {
    width: 35%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: rgb(239, 236, 236, 0.5);
    text-align: center;

    &__sub {
      input {
      width: 80%;
      background-color: rgba(132, 132, 132, 0.475);
      color: white;
      font-weight: bold;
      margin: 0 auto;
      height: 20px;
      border-style: none;
      border: 1px solid #3b3b4f;
      border-radius: 2px;
      }

      button {
        width: 50%;
        height: 25px;
      }
    }
    &__redes {
      ul {
        display: flex;
        justify-content: space-evenly;
        li {
        list-style: none;
        }
      }
      img {
        width: 20px;
        text-align: justify;
        margin: 5px 20px;
      }
    } 
  }
}

.subscribite {
  background-image: url(../asset/img/ViajecitoTres.jpg);
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__div {
    width: 70%;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #efecec80;
    text-align: center;
    input {
      width: 80%;
      height: 20px;
      margin: 0 auto;
      background-color: #8484848b;
      color: white;
      font-weight: bold;
      border-style: none;
      border: 1px solid #3b3b4f;
      border-radius: 2px;
    }
    button {
      width: 50%;
      height: 25px;
    }
    
  }
}

.b1 {
  grid-area: b1;
}

.b1__article {
  display: flex;
  div {
    width: 60%;
  }
  img {
    width: 40%;
    object-fit: cover;
  }

}

.b2 {
  grid-area: b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.conteiner {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 90%;
  flex-wrap: wrap;
  &__card {
    width: 40%;
    min-width: 180px;
    text-align: center;
    margin: 5%;
    background-color: #dcf7fc;
    padding: 10px;
    border-radius: 10px;
    border: #3EABC0 1px solid;
    box-shadow: #3EABC0 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__texto {
    /* display: inline-block; */
    width: 100%;
    
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.c1 {
  grid-area: c1;
  &__contenedor {
    display: flex;
    overflow-x: auto;
    margin: 15px 5px;
    &__card {
      width: 25%;
      min-width: 175px;
      margin: 1%;
      background-color: #98d9d9;
      padding: 10px;
      border-radius: 10px;
      box-shadow: #3eaac03a 0px 0px 5px;           
      img {
        width: 100%;
        object-fit: cover;
      }
      h4 {
        min-height: 85px;
      }
      p {
        text-align: justify;
      }
    }
  }
}

// PUBLICIDAD 

.p1 {
  grid-area: p1;
}
.p2 {
  grid-area: p2;
}

.p1, .p2 {
  background-color: brown;
  color: $secundario;
  width: 200px;
  height: 100%;
}

.p2-span {
  grid-column: 1 / span 2;
  width: 100%;
  height: 200px;
}

// FOOTER 

.footer {
  height: 300px;
  background-color: $bg-primario;
  margin: 50px 0;
  padding: 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  &__brand {
    display: flex;
    align-items: flex-start;
    width: 35%;
    min-width: 270px;
    &__text{
      margin-left: 15px;
    }
    &__icon {
      width: 100px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
  &__social, &__contacto {
    width: 15%;
    min-width: 120px;
    ul {
      padding: 0;
    }
  } 
  &__subscribe {
    width: 35%;
    min-width: 270px;
    form { 
      span {
        font-size: smaller;
      }
      p {
        margin: 0;
      }
    }
  } 
}

.terminosYcondiciones {
  display: inline-block;
}

footer {
  a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #3b3b4f;
  }
  a:active {
    background-color: #3b3b4f;
    color: $primario;
    padding: 2px;
  }
  .excluir:hover {
    text-decoration: underline;
    font-weight: normal;
    color: #3b3b4f;
  }
  .excluir:active {
    background-color: #3b3b4f;
    color: $primario;
    padding: 2px;
  }
  li:active {
    margin: 4px 0;
    align-items: left;
  }
}

.headerIcon, .brand__icon {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.button--submit {
  border-radius: 2px;
  background-color: #3b3b4f;
  color: white;
  margin: 15px;
  &:hover {
    background-color: #4f4f53;
  }
}

.caratula {
  position: relative;
  margin-bottom: 50px;
  width: 100%;
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #efececb3;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

ul, li, a {
  list-style: none;
  text-decoration: none;
}

a {
  margin: 0px;
  padding: 0px;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

// .float-div 
.float--left { 
  float: left; 
  margin: 0 20px 20px 0; 
}

// .float-div-right
.float--right {
  float: right;
  margin: 0 0 20px 20px;
}


/* Viajecito */
.viajecito {
  &__card {
    background-color: #72b1c2;
    box-shadow: #79898cbb 0 0 1px ;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    &__img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      }
    &__texto {
      margin-left: 30px;
      h2 {
        font-weight: normal;
        background-color: #87c2d2;
      }
      p {
        margin: 0;
      }
    }
  }
}


.viajecito-article {
  margin-top: 70px;
}
.carousel {
  width: 400px;
  height: 300px;
}

.carousel-item {
  width: 100%;
  height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/* La Idea */

.laidea {
  margin: 15px;
  p {
    text-align: justify;
  }
  img {
    width: 250px;
    object-fit: cover;
  }
}

/* Recursos */

.recursosConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__card {
    border: solid 2px #3eaac08c;
    border-radius: 8px;
    box-shadow: #3EABC0 0 0 10px;
    width: 100%;
    max-width: 800px;
    margin: 15px 0;
    background-color: #d1edf3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      z-index: 10;
      transform: scale(1.1);
      box-shadow: #3799ac 0 0 25px;
      transition: 0.3s;
    }
    h2 {
      background-color: #b4d5ddd5;
      padding: 4px;
      border-radius: 4px;
      margin: 0;
    }
    p {
      background-color: #d6ecf0e8;
      padding: 4px;
      border-radius: 4px;
      margin: 0;
      // width: 60%;
      // min-width: 400px;
    }
  }
  a {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}

.recursosMain {
  width: 95%;
  margin: 20px;
  &__article {
    background-color: #d6ecf0e8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #d6ecf0e8 0 0 20px;
  }
  ol li {
    list-style-type: upper-alpha;
    margin: 12px 0;
    font-weight:500;
  }
  ol ol li {
    list-style-type: disc;
    margin: 5px 0;
  }
  h2 {
    margin: 16px 0;
    font-weight:bold;
  }
  h3 {
    font-weight: normal;
    font-size: larger;
    font-weight:500;
    margin-top: 16px;
  }
  p {
    margin: 10px 0;
    font-weight:500;
  }
  a{
    font-weight: 600;
    &:hover {
      text-decoration-line: underline;
    }
  }
  img {
    height: 250px;
    width: auto;
    object-fit: cover;
  }
}


/* Contacto */

.contacto-img {
  max-height: 250px;
  width: 45%;
  object-fit: cover;
  margin: 15px 15px;
}

/* Formulario */

.form {
  width: 70%;
  margin: 40px 0;
  background-color:rgb(185, 241, 254);
  padding: 15px;
  border-radius: 5px;
}

textarea,
input,
label,
select {
  display: block;
  font-family: "Raleway", sans-serif;
}

label {
  margin: 10px 5px;
}


/* -----*/

.map-div {
  margin-top: 50px;
}
iframe {
  width: 400px;
  height: 300px;
}

.elemento-oculto {
  display: none;
}
































@media screen and (max-width: 440px) {
  main {
  grid-template-rows:repeat(4, auto);
  grid-template-columns:1fr;
  grid-template-areas:
  "a1"
  "b1"
  "p1"
  "b2"
  "p2"
  "c1";
  gap: 0;
  row-gap: 30px;
  }
  .p1, .p2 {
    background-color: brown;
    color: $secundario;
    width: 100%;
    height: 200px;
    
  }

  .p2-span {
    grid-row: 7 / span 1;
    width: 100%;
    height: 200px;
  }
  .elemento-oculto {
    display: flex;
  }
  
  .elemento-visible {
    display: none;
  }

  .accordion-bg {
    // background-color: #98d9d9;
    color:#2C5269;
    --bs-accordion-bg: #98d9d9;   
  }
  
  .c1-article-contenedor {
    display: flex;
    flex-wrap: wrap;
  }
  .c1-article-card {
    width: 100%;
  }

  header {
    padding: 5px;
  }

  main {
    margin: 60px 0 30px ;
    width: 100%;
  }
  .nav-link:hover {
    background-color: $hover-bg;
    color: #2C5269;
    transform: none;
    transition: 0.5s;
  
  }
  
  .nav-link:active {
    background-color: #3b3b4f;
    color: $primario;
    padding: 5px;
  }

  .headerIcon {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }

  
.portada {
  background-image: url(../asset/img/animate.jpg);
  background-size: cover;
  background-position: left;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.portada__animate {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
  background-color: rgb(239, 236, 236, 0.5);
  text-align: center;
}



.portada__animate__sub input {
  width: 80%;
  background-color: rgba(132, 132, 132, 0.475);
  color: white;
  font-weight: bold;
  margin: 0 auto;
  height: 20px;
  border-style: none;
  border: 1px solid #3b3b4f;
  border-radius: 2px;
}

.portada__animate__sub button {
  width: 50%;
  height: 25px;
  border-radius: 2px;
  background-color: #3b3b4f;
  color: white;
  margin: 15px;
}
// .button--submit:hover {
//   background-color: #4f4f53;
// }

.portada__animate__redes ul {
  display: flex;
  justify-content: space-evenly;
}

.c1-subscribite {
  display: none;
}




footer {
  height: auto;
  background-color: $bg-primario;
  margin: 50px 0;
  padding: 15px 30px 15px;
  display: flex;
  flex-flow: row wrap;
  font-size: small;
  text-align: center;
}

.footer__brand {
  display: flex;
  order: 4;  
}

.div-size-30 {
  width: 100%;
  min-width: 125px;
  margin: 20px 0;
  
}

.div-size-20 {
  width: 49%;
  min-width: 100px;
  order: 2;
  margin: 20px 0;
  
}

.footer__subscribe form {
  text-align: start;
  margin-top: 15px;

}

.footer__subscribe input {
  width: 50%;
}

.footer__subscribe form p {
  margin: 0;
}


footer a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #3b3b4f;
}

footer a:active {
  background-color: #3b3b4f;
  color: $primario;
  padding: 2px;
}

footer li:active {
  margin: 4px 0;
  align-items: left;
}

.float-div {
  float: none;
  margin: 0; 
}

.carousel-item {
  width: 100%;
  height: 200px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.float-div-right {
  float: none;
  margin: 0; 
}
.float-inline-end {
  float:none;
}
.recursos-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.recursos-article {
  display: flex;
  
  flex-direction: column;
  align-items: center;
}
.recursos-article h2 {
  font-size:xx-large;
  margin: 10px;
  display: flex;
  background-color: #a5e3e5b3;
  padding: 5px 25%;
  text-decoration: underline;
  text-decoration-color: #3EABC0;
  border: solid 2px #3EABC0;
  border-radius: 5px;
  
}
}



