nav {
  background-color: #f3e6a0;
  font-weight: 900;
  display: flex;
  align-items: center;
  box-shadow: #5e5940 0 15px 10px;
  div a h1 {
    margin: 0px;
  }
}
  
.container-fluid{
  width: 95%;
}
.dropdown-menu {
  background-color: #30b1e4;
}

.offcanvas.show {
  .dropdown-menu {
  background-color: inherit;
  }
  .nav-link:hover {
  transform: none;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}


.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #1f5579;
  color: whitesmoke;
  font-weight: 600;
  border: 1px solid black;
  padding: 2px;
  margin: 3px;
  &:hover {
    background-color: $hover-bg;
    color: #2C5269;
    transform: scale(1.15);
    transition: 0.5s;
  }
  &:active {
    background-color: #3b3b4f;
    color: $primario;
    padding: 2px;
  }
}

.headerIcon {
  width: 100px;
  // border-radius: 50%;
  // margin-right: 10px;
}