@mixin centrar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@mixin img($width, $height, $objFit) {
  width: $width;
  height: $height;
  object-fit: $objFit;
}