/* General */
body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-image: url("../asset/background/fondo21.jpg");
		background-size: 400px;
    background-repeat:repeat;
  }
  
  main {
    width: 95%;
    padding: 10px;
    margin: 60px auto 30px;
    background-color: $bg-primario;
    display: grid;
    grid-template-areas: 
    "a1 a1"
    "b1 p1"
    "b2 p2"
    "c1 c1"
    ;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto auto auto;
    gap: 30px;
    overflow: hidden;

  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
.a1 {
	grid-area: a1;
}

.portada {
	background-image: url(../asset/img/animate.jpg);
	background-size: cover;
	background-position: left;
	height: 400px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 50px;
	
	&__animate {
		width: 35%;
		margin-left: 10px;
		padding: 10px;
		border-radius: 5px;
		font-weight: 500;
		background-color: rgb(239, 236, 236, 0.5);
		text-align: center;

		&__sub {
			input {
			width: 80%;
			background-color: rgba(132, 132, 132, 0.475);
			color: white;
			font-weight: bold;
			margin: 0 auto;
			height: 20px;
			border-style: none;
			border: 1px solid #3b3b4f;
			border-radius: 2px;
			}

			button {
				width: 50%;
				height: 25px;
			}
		}
		&__redes {
			ul {
				display: flex;
				justify-content: space-evenly;
				li {
				list-style: none;
				}
			}
			img {
				width: 20px;
				text-align: justify;
				margin: 5px 20px;
			}
		} 
	}
}

.subscribite {
	background-image: url(../asset/img/ViajecitoTres.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__div {
		width: 70%;
		margin-left: 10px;
		padding: 10px;
		border-radius: 5px;
		font-weight: 500;
		background-color: #efecec80;
		text-align: center;
		input {
			width: 80%;
			height: 20px;
			margin: 0 auto;
			background-color: #8484848b;
			color: white;
			font-weight: bold;
			border-style: none;
			border: 1px solid #3b3b4f;
			border-radius: 2px;
		}
		button {
			width: 50%;
			height: 25px;
		}
		
	}
}

.b1 {
	grid-area: b1;
}

.b1__article {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	margin: 0 50px 50px 50px;
	a {
		h2 {
			display: none;
		}
	}
	div {
		display: flex;
		div {
			display: block;
		}
		img {
			margin-left: 50px;
			@include img(40%, auto, cover);
		}
	}	
}

.b2 {
	grid-area: b2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0 50px 0;
	h2 {
		margin-bottom: 35px;
		font-weight: 500;
	}
	
}

.conteiner {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	width: 90%;
	flex-wrap: wrap;
	&__card {
		width: 40%;
		min-width: 180px;
		text-align: center;
		margin: 15px;
		background-color: #ffdd61;
		padding: 10px;
		border-radius: 10px;
		border: #3EABC0 1px solid;
		box-shadow: #3EABC0 0px 0px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__texto {
		width: 100%;
		a h4 {
			font-weight: 900;
			color: red;
		}
		
	}
	img {
		width: 100%;
		object-fit: cover;
	}
}
  
.c1 {
  grid-area: c1;
	text-align: center;
	margin: 50px 0;
	h2 {
		margin-bottom: 50px;
	}
  &__contenedor {
    display: flex;
    overflow-x: auto;
    margin: 15px 5px;
    &__card {
      width: 25%;
      min-width: 175px;
      margin: 1%;
      background-color: #b4e8fd;
      padding: 10px;
      border-radius: 10px;
      box-shadow: #3eaac0 3px 3px 15px;           
      img {
        width: 100%;
        object-fit: cover;
      }
      h4 {
        min-height: 85px;
      }
      p {
        text-align: justify;
      }
    }
  }
}

.elemento-oculto {
    display: none;
  }

.button--submit {
  border-radius: 2px;
  background-color: #3b3b4f;
  color: white;
  margin: 15px;
  &:hover {
    background-color: #4f4f53;
  }
}

